.meals_add{
    border: 2px solid black;
    padding: 15px;
    margin-top: 10px;

}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
h1{
    margin-bottom: 50px;
}
.ulstyled>*{
    list-style-type: circle;
}
.ulstyled_2>*{
    list-style-type: circle;
    margin-left: 20px;
}
.meals_messages{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
}
.options_asd{
    display: flex;
    flex-direction: row;
}
.options_asd>*{
    margin: 5px;
}
li {
    list-style-type: none;
}
.meals_messages_individualText{
    flex: 1;
}
.meals_messages_strong_v2{
    width: 300px;
    font-style: italic;
}
.meals_messages_strong{
    width: 50px;
    font-weight: bold;
}
.meals_flex{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}
.meals_flex>p{
    width: 100px;
}
.meals_strong{
    font-weight: bold;
    margin: 0;
    padding: 0;
    margin-bottom: 5px;
}
.meals_individualID{
    width: 20px;
}